.title{
    font-size: 28px;
    text-align: center;
    background: -webkit-linear-gradient(#fff, #909090);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description{
    color:rgb(175 175 175); 
    text-align: center; 
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.label{
    color:white; 
    text-align: center;
    font-size: 19px;
}

.error{
    cursor: pointer;
    position: absolute;
    right: 11px;
    top: 15px;
    height: 18px;
    width: 18px;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-top: 150px;
}
.descriptionContainer{
    // width: 30%;
    width: 100%;
}
.fcContatiner{
    width: 100%;
}
.fortuneTextContainer{
    position: absolute;
    top: 15px;
    left: 23px;
    width: 85%;
    height: 45px;
}
.fortuneMessage{
    color:black;
    font-size: 10px;
    text-align: center;
}
.fortuneInput{
    width: 100%;
    height: 45px;
    font-size: 10px;
    text-align: center;
}
@media(min-width: 375px){
    .fortuneTextContainer{
        height: 55px;
        left: 27px;
    }
    .fortuneInput{
        height: 55px;
    }
 }
 @media(min-width: 425px){
    .fortuneTextContainer{
        height: 71px;
        left: 32px;
    }
    .fortuneInput{
        height: 71px;
    }
    
    .fortuneMessage{
        font-size: 13px;
    }
    .fortuneInput{
        font-size: 13px;
    }
 }
@media(min-width: 768px){
    .title{
        font-size: 55px;
    }
    .description{
        font-size: 21px;
    }
    .label{
        font-size: 29px;
    }
    .fcContatiner{
        width: 350px;
    }
    .fortuneTextContainer{
        height: 61px;
        left: 27px;
    }
    .fortuneInput{
        height: 61px;
    }
    
 }
 @media(min-width: 1024px){
    
    .description{
        padding-left: 51px;
        padding-right: 51px;
    }
    .bodyContainer{
        display: flex;
        flex-direction: row;
        // margin-top: 150px;
    }
    .descriptionContainer{
        width: 43%;
    }
    .fcContatiner{
        width: 400px;
    }
    .fortuneInput{
        height: 66px;
    }
    
    .fortuneTextContainer{
        height: 74px;
        left: 31px;
    }
   
 }
 @media(min-width: 1440px){
    .title{
        font-size: 82px;
    }
    .description{
        font-size: 24px;
    }
    .label{
        font-size: 38px;
    }
 }

 
 @media(min-width: 2560px){
    .title{
        font-size: 162px;
    }
    .description{
        font-size: 66px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .label{
        font-size: 94px;
    }
    .btn{
        font-size: 40px;
    }
    .fcContatiner{
        width: 747px;
    }
    .fortuneTextContainer{
        height: 151px;
        left: 70px;
        top:36px;
    }
    
    .fortuneMessage{
        font-size: 25px;
    }
    .fortuneInput{
        font-size: 25px;
    }
 }
